.header {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  padding: 5px 10px;
  background: #99aeb8;
}

.logged_text {
  font-size: 15px;
  margin: 0;
  margin-right: 10px;
}

.logged_box {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.register_box {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.user_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(62, 76, 99);
  text-decoration: none;
  padding: 10px;
  width: 80px;
	height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.link_nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 144, 173);
  text-decoration: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.home_wrapper {
  display: flex;
  gap: 20px;
}
.buttom_logout {
	text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 144, 173);
  text-decoration: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 700;
}
.buttom_logout:hover {
	display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(62, 76, 99);
  text-decoration: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 700;
}